<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
    <title>
        KBQA
    </title>
    <!-- Fonts and icons -->
    <!--<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/static/assets/css/nucleo-icons.min.css" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="/static/assets/css/blk-design-system.min.css?v=1.0.0" rel="stylesheet"/>
    <link href="/static/assets/css/custom.css?v=1.0.0" rel="stylesheet"/>
</head>

<body class="index-page">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" rel="tooltip"
               title="KBQA System" data-placement="bottom" target="_blank">
                <span>KBQA•</span> Answering System
            </a>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="page-header header-filter main-page-header">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand main-content">
                <form id="large" style="display: none;">
                    <div class="row">
                        <div class="col-9">
                            <input type="text" class="form-control main-input main-control"
                                   placeholder="Search your questions~" id="question_large">
                        </div>
                        <div class="col-3">
                            <input type="button" class="form-control btn-primary main-control" value="Search"
                                   id="search_large">
                        </div>
                    </div>
                </form>
                <form id="small" style="display: none;">
                    <input type="text" class="form-control main-input main-control"
                           placeholder="Search your questions~" id="question_small">
                    <br>
                    <input type="button" class="form-control btn-primary main-control" value="Search"
                           id="search_small">
                </form>
                <textarea class="main-show" id="triples" readonly></textarea>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    var type = '';
    var width = $("body").width();
    console.log(width);
    if (width < 770) {
        type = 'small';
        $('#small').slideDown()
    } else {
        type = 'large';
        $('#large').slideDown()
    }

    $(document).ready(function () {
        $('#search_' + type).click(function () {
            $('#triples').val('');
            var question = $("#question_" + type).val();
            if (!question) {
                return false;
            }
            $.ajax({
                url: "/get_triples",
                type: 'post',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify({q: question}),
                dataType: "json",
                success: function (json) {
                    var value = '';
                    $.each(json.data.triples, function (i, val) {
                        value += val + '\n';
                    });
                    $('#triples').val(value);
                    if (type == 'small') {
                        $('#triples').height(200);
                    }
                    $('#triples').slideDown(500);
                }
            });
        })
    });
</script>
</body>

</html>