<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
    <title>
        KBQA
    </title>
    <!-- Fonts and icons -->
    <!--<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/static/assets/css/nucleo-icons.min.css" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="/static/assets/css/blk-design-system.min.css?v=1.0.0" rel="stylesheet"/>
    <link href="/static/assets/css/custom.css?v=1.0.0" rel="stylesheet"/>
</head>

<body class="index-page">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" rel="tooltip"
               title="KBQA System" data-placement="bottom" target="_blank">
                <span>KBQA•</span> Answering System
            </a>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="page-header header-filter main-page-header">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand main-content">
                <form id="large" style="display: none;">
                    <div class="row">
                        <div class="col-9">
                            <input type="text" class="form-control main-input main-control"
                                   placeholder="Search your questions~" id="question_large">
                        </div>
                        <div class="col-3">
                            <input type="button" class="form-control btn-primary main-control search" value="Search"
                                   data-toggle="modal" data-target="#getQuestionModal">
                        </div>
                    </div>
                </form>
                <form id="small" style="display: none;">
                    <input type="text" class="form-control main-input main-control"
                           placeholder="Search your questions~" id="question_small">
                    <br>
                    <input type="button" class="form-control btn-primary main-control search" value="Search"
                           data-toggle="modal"
                           data-target="#getQuestionModal">
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="getQuestionModal" tabindex="-1" role="dialog" aria-labelledby="getQuestionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="getQuestionModalLabel">请问以下查询结果是您想要的吗？</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer modal-footer-main">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new_question">不是我想要的
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">是我想要的</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Core -->
<script src="/static/assets/js/core/jquery.min.js"></script>
<script src="/static/assets/js/core/popper.min.js"></script>
<script src="/static/assets/js/core/bootstrap.min.js"></script>

<!-- Theme JS -->
<script src="/static/assets/js/blk-design-system.min.js"></script>
<script>
    $(document).ready(function () {
        var type = '';
        var width = $("body").width();
        if (width < 770) {
            type = 'small';
            $('#small').slideDown()
        } else {
            type = 'large';
            $('#large').slideDown()
        }

        $('.search').click(function () {
            $('#triples').val('');
            var question = $("#question_" + type).val();
            console.log(question);
            if (!question) {
                return false;
            }
            $.ajax({
                url: "/get_question",
                type: 'post',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify({q: question}),
                dataType: "json",
                success: function (json) {
                    var value = '';
                    $.each(json.data.triples, function (i, val) {
                        value += val + '\n';
                    });
                    $('#getQuestionModal').on('show.bs.modal', function (event) {
                        var modal = $(this);
                        modal.find('.modal-body').text('New message to')
                    });
                }
            });
        });
    });
</script>
</body>

</html>